@import "./variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  overflow: hidden;
  font-family: var(--font-google-sans);
  color: #253237;
}

button {
  all: unset;
  cursor: pointer;
}

.icon {
  width: 22px;
  height: 22px;
}