---
interface Props {
  src: string;
  title: string;
  artist: string;
}

const { src, title, artist } = Astro.props;
---

<div class="player-cover">
  <img
    class="player-cover__img"
    src={src}
    alt={`Cover - ${title} by ${artist}`}
  />
</div>

<style>
  .player-cover__img {
    width: 100%;
    border-radius: 10px;
  }
</style>
